/* Global color values */
:root {
    --bkg: hsl(206, 72%, 11%);
    --bkg2: hsl(215, 26%, 23%);
    --txt: hsl(0, 0%, 80%);
    --secondary: hsl(206, 26%, 27%);
    --primary: hsl(10, 100%, 58%);
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bkg);
    color: var(--txt);
}